{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jest": true,
    "es2020": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": "es2020",
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "no-unused-vars": "warn",
    "no-console": 1,
    "func-style": "error",
    "no-only-tests/no-only-tests": "error"
  }
}
