{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jest": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "global-require": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "class-methods-use-this": "off",
    "no-console": "off"
  }
}
